{% extends 'base.html' %} {% block body %}
<title>Big Red's BBQ - Home</title>
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary text-white">
    <span class="text-white" style="font-size: 16pt">Big Red's BBQ</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ml-3">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-grey" href=""><span class="text-grey">Events</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-grey" href="{% url 'menu' %}"><span class="text-grey">Menu</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-white font-weight-bold">Big Red's BBQ</h1>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <img src="/static/images/ribs.png" alt="ummmribbbs" class="food-image">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <img class="p-2 home-page-img " src="/static/images/hogsbutt.png" alt="bigredsbbq">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 col-lg-4 col-md-12">
            <div class="card mb-3 adjusted-card">
                <span class="card-header text-center font-weight-bold" style="font-size: 14pt">Contact
                    Information</span>
                <div class="card-body">
                    <div class="text-center font-weight-bold"><u>Phone Number</u></div>
                    <p class="text-light text-center">(662) 473-7117</p>
                    <p class="text-center">We cater for your parties!</p>
                    <hr>
                    <span class="mt-4">
                        <div class="text-center font-weight-bold"><u>Email</u></div>
                        <p class="text-light text-center">bigredsbbq@pigsnorts.com</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-12">
            <div class="card mb-3 adjusted-card">
                <span class="card-header text-center font-weight-bold" style="font-size: 14pt">Hours</span>
                <div class="card-body">
                    <div class="text-center font-weight-bold">Monday and Tuesday</div>
                    <div class="text-center mb-4"><span class="text-light">Closed</span></div>
                    <div class="text-center font-weight-bold">Wednesday-Saturday</div>
                    <div class="text-center mb-4"><span class="text-light">10:30 A.M - 12:00 P.M</span></div>
                    <div class="text-center font-weight-bold">Sunday</div>
                    <div class="text-center"><span class="text-light">10:30 A.M - 3:00 P.M</span></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-12">
            <div class="card mb-3 adjusted-card">
                <span class="card-header text-center font-weight-bold" style="font-size: 14pt">Location</span>
                <div class="card-body">
                    <div class="text-center text-light">788 Hwy 32 West</div>
                    <div class="text-center text-light">Water Valley, MS 38965</div>
                </div>
                <img class="p-4 location-img" src="/static/images/water-valley-img.png" alt="water valley">
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 col-lg-6">
            <div class="card mb-5">
                <span class="card-header text-center">Events</span>
                <div class="card-body">
                    <div class="d-flex">
                        <form action="">
                            <button class="btn btn-primary mr-3">New Events</button>
                        </form>
                        <!-- <form action="">
                            <button class="btn btn-success">Add Events</button>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="card mb-5">
                <span class="card-header text-center">Menu</span>
                <div class="card-body">
                    <form class="text-center" action="{% url 'menu' %}">
                        <button class="btn btn-primary mr-3">Check it out</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="p-3 bg-primary">
    <div class="container">
        <span class="flow-text text-grey">Copyright &copy 2019 | Big Red's BBQ | All rights reserved | Created by:
            Daniel
            Peterson</span>
    </div>
</footer>
{% endblock body %}